.row {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center column content horizontally */
  justify-content: center; /* Center column content vertically */
}

.image-container {
  position: relative;
  width: 100%;
  margin-left: 0px;
  overflow: hidden;
  height: 400px; /* Adjusted height to make it thinner */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensure the image covers the container */
}

.btn-left,
.btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.content-container {
  text-align: center; /* Center text content */
  margin-top: 0px; /* Reduced space from the image container */
  /* Optional: Add a margin-bottom to the image container if needed */
}

.content-container h1,
.content-container p {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}
