button {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit
}

.navbar .rightSide svg {
  position: fixed;
  font-size: 40px;
  z-index: 9999;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

.nav-link {
  display: block;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  text-align: center;
}

.dropdown-item {
  padding: 10px 15px;
  text-align: center;
  display: block;
  color: #000;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  width: 150px; /* Adjust width as needed */
}

